
.example-container {
    
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  .info-column {
    width: 48px; /* Adjust this value if needed */
    text-align: center; /* Center the icon horizontally */
  }
  .hide-header {
    /* Hide the header cell */
    display: none;
  }

  .status-on-route {
    color: teal; /* Example color */
  }
  
  .status-delayed {
    color: crimson; /* Example color */
  }
  
  .status-stopped {
    color: gray; /* Example color */
  }
  
  .status-arrived {
    color: green; /* Example color */
  }
  
  .status-pending {
    color: goldenrod; /* Example color */
  }

  .status-cell {
    
  }
  
 