<div class="container-fluid">
    <div class="row my-2">
        <div class="col col-2">
            <button mat-button color="primary" style="display: block; width: 100%;" class="text-start" (click)="navigateToOperations()">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Back to Operations Screen
            </button>
            <mat-divider></mat-divider>
        </div>
        <div class="col col-10"></div>
    </div>

    <!-- Show spinner while loading -->
    <div *ngIf="isLoading" class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Show content once loaded -->
    <div *ngIf="!isLoading">
        <p>Operation ID: {{ operationId }}</p>
        <p>Operation Details:</p>
        <pre>{{ operationData | json }}</pre>
    </div>
</div>

