/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-scrollbar {
    overflow: hidden; /* Hides scrollbar but keeps scroll functionality */
    /* For Webkit browsers (Chrome, Safari) */
    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari */
  }